.about-myself {
    color: #ccd6f6;
    margin: 0 20px;
    height: 58vh;
    .heading {
        padding: 1.5rem 0rem 0rem 0rem;
    }
    .p-about {
        padding: 1.5rem 0rem 0rem 0rem;
        color: #8892b0;
    }
}
