.about-myself {
    color: #5ceaca;
    margin: 0 auto;
    // height: 80vh;
    padding-bottom: 10rem;
    letter-spacing: 2px;
    .heading {
        padding: 1.5rem 0rem 0rem 0rem;
    }
    .p-about {
        padding: 1.5rem 0rem 0rem 0rem;
        color: #8892b0;
    }
}
