@media screen and (min-width: 390px) {
    .topbar {
        .navbox {
            width: 98vw;
        }
    }
}
@media screen and (min-width: 760px) {
    .topbar {
        .navbox {
            width: 69.5vh;
        }
    }
}
@media screen and (min-width: 820px) {
    .topbar {
        .navbox {
            width: 60.5vh;
        }
    }
}
@media screen and (min-width: 912px) {
    .topbar {
        .navbox {
            width: 51.5vh;
        }
    }
}
