@import 'config','main','section','section2','footer','mediascreen';
body {
    background-color: $bkgC;   
    // margin: 0 20px; 
}
body * {
    // box-sizing: border-box;
    scroll-behavior: smooth;
}
#page {
    min-height: 100vh;
    max-width: 1500px;
    width: 80%;
    font-family: 'Montserrat', sans-serif;  
    .topbar {
        // font-family: 'Montserrat', sans-serif;  
        #darkLight {
            position: fixed;
        }
        .circlebox {
            position: fixed;
            bottom: 5.2rem;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background-color:#212324;
            margin-left: auto;
            border-style: solid;
            border-color: #f2edda;
            z-index: 1;
            .imgsize {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            .dltext {
               color: #f2edda;  
            }
        }
        .navbox {
            position: fixed;
            // margin: 0 0 0 -54px;
            display: flex;
            justify-content: flex-start;
            bottom: 2.5rem;
            // width: 90vw;
            max-width: 100%;
            min-width: 100%;
            margin: auto -12.9%;
            z-index: 2;
        }
        #bboxul {
            background-color: #343434;
            border-radius: 7rem;
            border-color: #f2edda;
            border-style: solid;
            letter-spacing: 1px;
            height: 3rem;
            z-index: 10;
            width: 22rem;
            margin: 0 auto;
            .menu {
                flex-wrap: nowrap;
                text-align: center;
                height: 2.5rem;
                width: auto;
                font-size: x-small;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: bold;
                align-items: center;
                list-style: none;
                margin: auto;
                .nav-item {
                    justify-content: center;
                    text-decoration: none;
                    color: #f2edda;
                    height: 2rem;
                    padding: 1rem 0rem 1rem 0rem;
                }        
            }
        }
        .header-title {
            .top-h1 {
                text-align: center;
                color: #ccd6f6;
            }
        }
        .profilecard {
            // background-color: $bkgC;
            background-image: url(../images/pogcodesv.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: left;
            background-size: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            .cardPicInf {
                color: #99ebeb;
                align-self: flex-start;
                filter: brightness(1.1);
                font-size: x-large;
                .Fst {
                    margin-left: -42px;
                }
            }
            .authorimage {
                img{
                    width: 70%;            
                }
            }
        }
    }
}